<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>TabsPage</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="favoritesPage" tabTitle="Favorite" tabIcon="star"></ion-tab>
    <ion-tab [root]="libraryPage" tabTitle="Library" tabIcon="book"></ion-tab>
  </ion-tabs>
</ion-content>
