<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let quotes of quoteCollection; let ind = index">
      <ion-avatar item-start>
        <!-- <img src="img/avatar-cher.png"> -->
        <ion-icon [name]="quotes.icon"></ion-icon>
      </ion-avatar>
      <h2>{{ quotes.category | uppercase }}</h2>
      <p *ngIf="quotes.quotes.length > 0">{{ quotes.quotes.length }} quote(s)</p>
    </button>
  </ion-list>
</ion-content>
